section#characters {
    width: 80%;
    margin: 20px auto;
    position: relative;
  }
  
  section#characters img {
    width: 100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  section#characters img.dead {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
     filter: grayscale(100%);
  }
  
  section#characters article {
    width: 100%;
    margin: 0 0 20 px 0;
    position: relative;
  }
  